.about_client {
    background: -webkit-linear-gradient(90deg, #eb3349 0%, #f45c43 100%);
    background: -moz-linear-gradient(90deg, #eb3349 0%, #f45c43 100%);
    background: -o-linear-gradient(90deg, #eb3349 0%, #f45c43 100%);
    background: -ms-linear-gradient(90deg, #eb3349 0%, #f45c43 100%);
    background: linear-gradient(0deg, #eb3349 0%, #f45c43 100%);
    color: #ffffff;

    h3 {
        font-size: 24px;
        font-weight: 900;
        line-height: 52px;
        margin-top: 114px;
        margin-bottom: 33px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        font-weight: 500;
        line-height: 36px;
        text-align: center;
        margin-bottom: 160px;
    }
}
