.footer {
    margin-top: 127px;

    h3 {
        font-family: 'Raleway', sans-serif;
        color: #ff3048;
        font-size: 24px;
        font-weight: 900;
        line-height: 52px;
        text-align: center;
    }

    p {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
    }

    input {
        text-align: center;
        width: 26vw;
    }

    .btn {
        margin-top: 31px;
    }

    span {
        font-family: 'Raleway', sans-serif;
        color: #ff3048;
        font-size: 48px;
        font-weight: 900;
        line-height: 52px;
        text-align: center;
        margin-top: 85px;
        margin-bottom: 98px;
    }
}
