.logo-create {
    background-color:  #f7f7f7;
    color: #141414;

    h3 {
        font-size: 24px;
        font-weight: 900;
        line-height: 52px;
        margin-top: 105px;
        margin-bottom: 33px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
    }

    img {
        margin-top: 103px;
        margin-bottom: 114px;
    }
    .last-p {
        margin-bottom: 146px;
        
    }
}
