.project-analysis {
    color: #141414;

    h3 {
        font-size: 24px;
        font-weight: 900;
        line-height: 52px;
        margin-top: 134px;
        text-transform: uppercase;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        font-style: italic;
    }

    .figure {
        margin-top: 77px;
        margin-bottom: 64px;

        &-caption {
            font-size: 18px;
            font-weight: 700;
            font-style: italic;
            line-height: 25px;
            text-align: center;
            margin-top: -50px;
            color: #141414;
        }
    }

    .card-block {
        margin-top: 120px;
        margin-bottom: 124px;

        .card {
            box-shadow: 4px 5px 21px 0 rgba(0, 0, 0, 0.21);
            height: 359px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;

            p {
                font-family: 'Montserrat', sans-serif;
                color: #141414;
                font-size: 45.75px;
                font-weight: 700;
            }

            &-left {
                border-bottom: 5px solid red;
            }

            &-middle {
                background-color: #bbab62;
            }

            &-right {
                background-color: #ff0198;

                p {
                    color: #fff;
                }
            }

            &-description {
                margin-top: 20px;
            }
        }
    }
}
