.work-progress {
    color: #000000;

    h3 {
        font-size: 24px;
        font-weight: 900;
        line-height: 52px;
        margin-top: 119px;
        margin-bottom: 33px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
        margin: auto;
        margin-bottom: 41px;

    }

    img {
        margin-bottom: 30px;
    }

    .first-in-row {
        margin-right: 30px;
    }

    .img-col {
        padding: 0;
    }

    .img-col_2 {
        padding-left: 5px;
        padding-right: 10px;
    }
}
