.work-progress {
  color: #000000;

  h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 119px;
    margin-bottom: 33px;
  }

  p {
    color:  #191919;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin: auto auto 0px;
  }

  .images-block {
    margin-top: 63px;
  }

  img {
    margin-bottom: 30px;
  }

  .last-img {
    margin-top: -106px;
  }

  .first-in-row {
    margin-right: 30px;
  }
}
