@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	background-color: #FCFCFC;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.btn {
	width: 264px;
	height: 57px;
	background-image: linear-gradient(0.0deg, #de6262 0%, #ffb88c 100%);
	// box-shadow: 0 3px 1px 0 rgba(0,0,0,0.2);
	border: none;
	border-radius: 41.0px;
	color: #f7f7f7;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;

	&:hover {
		cursor: pointer;
	}

	&:active {
		background-color: #ce2029;
		background-image: none;
		outline: none;
	}

	&:focus {
		outline: none;
	}
}

h1,h2,h3,h4,h5 {
	font-family: 'Montserrat', sans-serif;
}


@import "_header";
// @import "_about_client";
// @import "_project-analysis";
@import "_how_work_block";
@import "_work-progress";
@import "_brand-colors";
@import "_logo-create";
@import "_typography";
@import "_redesign";
@import "_results";
@import "_register";
@import "_footer";
@import "media"; // Always at the end
